.flash-message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}

.flash-message {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.flash-message .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}


.login-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #f8f9fa; 
}

.login-container h3 {
    text-align: center; 
    margin-bottom: 20px; 
}


.signup-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #f8f9fa; 
}

.signup-container h3 {
    text-align: center;
    margin-bottom: 20px;
}